.search_bar {
  box-sizing: border-box;
  height: 80px;
  width: 100%;
  padding: 0;
  display: flex;
  // margin: 24px auto 40px auto;
  // justify-content: center;
}

.search {
  padding: 0 0 0 80px;
  min-width: 140px;
  background-image: url('../../images/Search.svg');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position-y: center;
  background-position-x: 15px;
  height: 100%;
  width: 70%;
  font-size: 24px;
  font-weight: 400;
  border: none;
  outline: none;
 }

 .search_btn {
  width: 30%;
  min-width: 140px;
  max-width: 200px;
  background: #1eb7ee;
  color: #fff;
  font-size: 26px;
  border-radius: 0 90px 0 0;
  text-align: left;
  padding: 0 20px;
  height: 100%;
  border: none;
  font-weight: 700;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
 }

 .search_btn:hover {
  border-radius: 0 40px 0 0;
 }